{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="shortcut icon" href="{% static 'images/looben_icon.png' %}">
<!-- css -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock header%}

{% block content %}
<main>

    <section class="fv">

        <div class="fv__inner">
            <div class="fv__text-box">
            <h1 class="fv__main">iSpanish<br class="pc"></h1>
            <p class="fv__text">iSpanish is a platform where Spanish native speakers(international students)<br class="pc">
                who are interested in teaching Spanish can connect with Taiwanese<br>
                who want to learn Spanish</p>

            
            <a class="main-btn main-btn--red fv__btn" href="{% url 'accounts:login' %}">Login</a>

            </div>
            <div class="fv__img-wrapper">
            <img class="fv__img" src="{% static 'images/ispa.png' %}" alt="公開しない台湾大学選びをLoobenで">
            </div>
        </div>
        </section>

        <section class="feature">
        <div class="main-container">
            <h2 class="feature__title">Tutors</h2>
            <ul class="feature__item-box">
            <li class="feature__item feature__item01">
                <div class="feature__text-box">
                <h3 class="feature__head">TUTOR 01</h3>
                <p class="feature__main">Andrea Hernandez,<br class="pc">Colombia</p>
                <p class="feature__text">What I love most about teaching Spanish is that I am able to share about my culture.<br class="pc">
                    I enjoy every single class and I always try my best to make my students enjoy my lessons.<br class="pc">
                    One Spanish lesson is more than just a teaching lesson.<br class="pc">
                    It’s a life changing cultural experience.</p>
                </div>
                <div class="feature__img-wrapper">
                <img class="feature__img" src="{% static 'images/02.png' %}" alt="在学生の声">
                </div>
            </li>
            <li class="feature__item feature__item02">
                <div class="feature__text-box">
                <h3 class="feature__head">TUTOR 02</h3>
                <p class="feature__main">Victoria Morales<br class="pc">
                    Ecuador<br class="pc"></p>
                <p class="feature__text">One of my dreams was becoming a Spanish tutor and now it has become a reality.<br class="pc">
                    I couldn’t be more happy. I am so grateful that with iSpanish ,<br class="pc">
                    I am able to connect and find people who need my tutoring services.<br class="pc">
                    I love Taiwan and I am sure that Taiwanese will fall in love with Spanish as I did fall in love for Taiwan, its culture and its language.</p>
                </div>
                <div class="feature__img-wrapper">
                <img class="feature__img" src="{% static 'images/03.png' %}" alt="トークルーム">
                </div>
            </li>
            <li class="feature__item feature__item03">
                <div class="feature__text-box">
                <h3 class="feature__head">TUTOR 03</h3>
                <p class="feature__main">Tommy Paredes<br class="pc">Peru</p>
                <p class="feature__text">I always try my best to introduce games into my lessons.<br class="pc">
                    I believe learning should always be fun .<br>
                    The more you enjoy it , the more you learn. Teaching Spanish is such a wonderful experience.<br class="pc">
                    I always get to learn a lot from my students. </p>
                </div>
                <div class="feature__img-wrapper">
                <img class="feature__img" src="{% static 'images/01.png' %}" alt="最新のバイト情報">
                </div>
            </li>
            </ul>
        </div>
        </section>

        <section class="message">
        <div class="message__inner">
            <div class="message__contents">
            <div class="message__text-box">
                <h2 class="message__title">MESSAGE</h2>
                <p class="message__main">iSpanish</p>

                <p class="message__text">iSpanish is a platform where Spanish native speakers(international students)<br class="pc">
                    who are interested in teaching Spanish can connect with Taiwanese<br>
                    who want to learn Spanish</p>
                <p class="message__sign">Mayte Souza</p>
            </div>
            </div>
        </div>
        </section>

        <section class="start">
        <div class="start__btn-wrapper">

            <!-- 新規登録ボタン -->
            <a class="main-btn main-btn--white start__btn" href="{% url 'accounts:regist' %}">Sign Up</a>

            <!-- ログインボタン -->
            <a class="main-btn main-btn--red start__btn" href="{% url 'accounts:login' %}">Login</a>

            </div>
        </section>

</main>
{% endblock %}

