{% extends 'base.html' %}
{% load static %}

{% block header %}
<link href="{% static 'css/tutors_detail.css' %}" rel="stylesheet">
{% endblock header %}

{% block content %}
<div class="container">
    <div class="profile">
        {% if user.id == object.id %}
        <h1>My Profile</h1>
        <a class="btn btn-outline-success" href="{% url 'search_tutors:update-profile' username=object.username %}">Update Profile</a>
        <p><a class="btn btn-outline-danger" style="margin-top: 10px; " href="{% url 'accounts:password-change' %}">Reset Password</a></p>
        {% elif object.is_tutor %}
        <h1>Tutor Profile</h1>
        <p><a class="btn btn-outline-primary"  href="{% url 'book_tutors:book-tutors' tutor_username=object.username %}">Book Tutors</a></p>
        {% endif %}
        <img src="{{ object.icon.url }}" alt="人物の写真">
        <h1 class="name">{{ object.name }}</h1>
        <p class="description">{{ object.description }}</p>
        <p class="country">Country: {{ object.country }}</p>
        <p class="age">Age: {{ object.age }}</p>
        <p class="sex">Sex: {{ object.sex }}</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/動画ID" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
            <h2>Lessons Review</h2>
            <!-- start --> 
            {% for review in reviews %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <span class="badge bg-primary">{{ review.evaluation }}</span> 
                        <div class="profile2">
                            <a href="{% url 'search_tutors:tutors-detail' pk=review.user.id %}">
                            <img src="{{ review.user.icon.url }}" alt="プロフィール写真">
                            </a>
                            <p class="card-text" style="margin: 0;">Student: {{ review.user.name }}</p>
                        </div>
                        <p class="card-text">{{ review.review }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Date: {{ review.lecture.start_date }}.{{ review.lecture.start_time}}~{{ review.lecture.end_date }}.{{ review.lecture.end_time}} / Price: {{ review.lecture.price }} dollar</small>
                        </div>
                        {% if review.user == user %}
                        <a class="btn btn-outline-danger" href="{% url 'book_tutors:delete-review' review_pk=review.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <p>There is no lesson review.</p>
            {% endfor %}
            <!-- end -->
        </div>
    </div>
</div>
{% endblock content %}