{% extends 'base.html' %}
{% load static %}

{% block header %}
<link href="{% static 'css/tutors_detail.css' %}" rel="stylesheet">
{% endblock header %}

{% block content %}
<div class="container">
    <div class="profile">
        {% if user.id == object.id %}
        <h1>My Profile</h1>
        <a class="btn btn-outline-success" href="{% url 'search_tutors:update-profile' username=object.username %}">Update Profile</a>
        <p><a class="btn btn-outline-danger" style="margin-top: 10px; " href="{% url 'accounts:password-change' %}">Reset Password</a></p>
        {% else %}
        <h1>Tutor Profile</h1>
        <p><a class="btn btn-outline-primary"  href="{% url 'book_tutors:book-tutors' tutor_username=object.username %}">Book Tutors</a></p>
        {% endif %}
        <img src="{{ object.icon.url }}" alt="人物の写真">
        <h1 class="name">{{ object.name }}</h1>
        <p class="description">{{ object.description }}</p>
        <p class="country">Country: {{ object.country }}</p>
        <p class="age">Age: {{ object.age }}</p>
        <p class="sex">Sex: {{ object.sex }}</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/動画ID" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% endblock content %}