{% extends 'base.html' %}
{% load static %}
{% block header %}
<link href="{% static 'css/lecture_list.css' %}" rel="stylesheet">
{% endblock header%}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half has-background-link-light">
            <h1 class="is-size-1">BookTutor</h1>
            <hr>
            <div class="profile">
                <a href="{% url 'search_tutors:tutors-detail' pk=tutor.id %}">
                <img src="{{ tutor.icon.url }}" alt="プロフィール写真">
                </a>
                <p class="card-text" style="margin: 0;">Learner: {{ tutor.name }}</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ book_tutors_form.as_p }}
                <button class="button is-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}